body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-size: 18px;
}
span {
    color: #2E2F42;
}
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu:hover {
    color: #404bbf;
}
.menu:focus {
    color: #404bbf;
}
.medium {
    font-size: =16px;
    line-height: 24px;
}
.address {
    font-style: normal;
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts:hover {
    color: #404BBF;
}

.contacts:focus {
    color: #404BBF;
}
.link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.section_one {
    background-color: #2E2F42;
}
.title_one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}
.team {
    background-color: #FFFFFF;
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.title_two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.sectiontwo_paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section_three{
    background-color: #FFFFFF;
}
.team {
    background-color:  #FFFFFF;
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.title_three{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our_team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.title_four {
    font-size: 36px;
line-height: 1.11;
 text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.our_portofolio {
    background-color: #FFFFFF;

}
.subtitle_four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portofolio_paragraph {
    stilul font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2E2F42;
    
}

.studio_footer {
    color: #F4F4FD
}
.footer_paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}



ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  /* margin: 0;
  padding: 0; */
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  /* margin: 0; */
}

a {
  text-decoration: none;
  font-style: normal;
}

img{
    display:block;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.container{
    display:flex;
    width: 1158px; 
    margin: 0 auto;
    padding: 0 15px;

}

.header-nav{
    display:flex;
    align-items: center;
}
.logo{
    margin-right: 76px;
}
.header-list{
    display:flex;
    gap: 40px;
}
.header-item{
    padding: 24px 0;
}
.header-link{
    padding: 24px 0;
}

.link{
    display:flex;
    gap: 40px;
}
.section_one{
    width:1440px;
    height:600px;
    top:72px;
     padding: 188px 0;
}
.title_one{
    padding-top: 120px;
    padding-left: 472px;
    padding-right: 472px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    max-width: 496px;
}
.button{
    padding: 16px, 32px, 16px, 32px;
    gap:10px;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    text-align: center;
    margin-left:636px;
    margin-top: 56px;
    display: block;
    min-width: 169px; 
    border: none;
}
.visually-hidden{
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.section_two{
    padding: 120px 0;
}
.goals{
    display: flex;
    gap:24px; 
    margin-right: 24px;
    margin-left: 104px;
}
.section-two-item{
    width: calc((100% - 72px) / 4);
}
.title_two{
    margin-bottom: 8px;
}

.section_three{
    background-color: #F4F4FD;
    Width:1440px;
Height:732px;
Top:1016px;
}
.title{
    padding-top: 40px;
    line-height: 40px;
    margin-bottom: 40px;
}
.teamwork{
    display:flex;
    gap: 32px;
    border-radius:0px, 0px, 4px, 4px;
    Padding:0px, 0px, 32px, 0px;
}
.team-one{
    margin-left:156px;
}
.team-four{
    padding-right: 156px;;
}
.title_two{
    text-align: center;
    gap:8px;
    
}
.our_team{
    text-align: center;
}